.btn-small {
    background-color: $color-button;
    border: none;
    border-radius: 10px;
    font-size: $font-size-base*1.5;
    height: 35px;
    width: 120px;
    margin-bottom: 10px;
    font-family: 'Sorts Mill Goudy', serif;
    color: white;
    margin-top: 5px;
    a {
        color: white;
    }   
}

.btn-plus {
    font-weight: 900;
    height: 25px;
    width: 30px;
}